.header {
    margin-left: 10px;
    margin-bottom: 20px;
}

.basicInformationBody {
    display: grid;
    grid-template-areas: "h ."
                         "m ."
                         "b ."
                         ". link";
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 30px;
    margin: 10px 10px 10px 0;
}

.title {
    grid-area: h;
    font-size: inherit;
}

.basicInformationBody > p {
    grid-area: m;
}

.list {
    grid-area: b;
    list-style: none;
}

.list > li:not(:last-child){
    margin-bottom: 10px;
}

.link {
    grid-area: link;
    justify-self: end;
}
