.header {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.basicInformationBody {
    display: grid;
    grid-template-areas: "h ."
                         "m ."
                         "customer ."
                         "b link";
    background-color: white;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 10px;
}

.title {
    grid-area: h;
    font-size: inherit;
}

.manager {
    grid-area: m;
}

.customer {
    grid-area: customer;
}

.list {
    grid-area: b;
    list-style: none;
}

.list > li:not(:last-child) {
    margin-bottom: 10px;
}

.link {
    margin-right: 10px;
    grid-area: link;
    justify-self: end;
    align-self: end;
    text-align: center;
    width: 30%;
}
