.wrapper {
    background-color: white;
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.wrapper input, .wrapper select  {
    padding: 4px 5px ;
    width: 220px;
    text-align: center;
    border-radius: 50px;
    border: black 1px solid;
}

.wrapper input:focus, .wrapper select:focus {
    outline: none;
    box-shadow: 0 0 1px 1px black ;
}

.label {
    font-size: 18px;
    font-weight: bold;
}


.wrapper form {
    display: grid;
    grid-template-areas: "name . ."
    "cust . ."
    "manager code ."
    "time time  button";
}

.name {
    grid-area: name;
}

.cust {
    grid-area: cust;
}

.code {
    grid-area: code;
    align-self: end;
    margin: 0;
}

.code label {
    margin: 0;
}

.manager {
    grid-area: manager;
}

.time {
    grid-area: time;
}

.button {
    grid-area: button;
    justify-self: end;
    align-self: end;
    min-width: 130px;
}
