.wrapper {
    display: grid;
    grid-template-areas:
            "title ."
            "discr managers"
            "modules ."
            "time cust";
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.title {
    grid-area: title;
    font-size: inherit;
}

.description {
    grid-area: discr;
    display: inline-block;

}

.managers {
    grid-area: managers;
    margin-left: auto;
    margin-right: 30px;
}

.modules {
    grid-area: modules;
    margin-left: 15%;
}

.time {
    grid-area: time;
}

.customer {
    grid-area: cust;
    margin-left: auto;
    margin-right: 30px;
}

.wrapper ul {
    list-style: none;
}

.module {
    font-weight: bold;
}

.modules svg {
    width: 5px;
    transform: rotate(90deg);
}



.modules button:hover {
    background-color: #8f8c8c;
}
